@import url(./__image/lead__image.css);
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image-caption/lead__image-caption.css);

.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 56px auto 0 auto;
  max-width: calc(100% - 148px - 148px);
  height: 1005px;
}
