.place__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  margin: 0 auto 24px auto;
}

.place__paragraph:last-of-type {
  margin-bottom: 0px;
}

@media (min-width:768px) and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media (min-width:425px) and (max-width: 767px) {
  .place__paragraph {
    margin: 0 auto 32px 30px;
    font-size: 16px;
    line-height: 26px;
  }
}

@media (max-width: 424px) {
  .place__paragraph {
    margin: 0 16px 24px 16px;
    font-size: 16px;
    line-height: 26px;
  }
}
