@import url(./__image/place__image.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__website/place__website.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  max-width: 984px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  row-gap: 16px;
  margin-bottom: 72px;
}


@media (max-width: 550px) {
  .place {
    display: flex;
    flex-direction: column;
  }
}
