@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 92px 48px 0 48px;
  max-width: calc(100vw - 48px * 2);
  box-sizing: border-box;
  padding-bottom: 22px;
}

@media (min-width:768px) and (max-width: 1023px) {
  .footer {
    max-width: calc(100vw - 24px * 2);
    margin: 88px 24px 0 24px;
  }

}

@media (min-width:425px) and (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin: 64px auto 0 30px;
    align-items: flex-start;
  }
}

@media (max-width: 425px) {
  .footer {
    flex-direction: column;
    margin: 64px auto 0 16px;
    align-items: flex-start;
  }
}
